In [3]:
# Load cleaned M-Pesa data from the Spark table
df = spark.read.table("mpesa_cleaned")  # Or use "mpesa_normalized" if thatâ€™s your table name
df.show(30)

StatementMeta(, 3f70d7a4-b60b-4600-b977-5175bc0acb75, 5, Finished, Available, Finished)

+----------+-----+--------------------+--------+---------+--------+--------------------+
|      date| time|    transaction_type|  amount|direction| balance|           narration|
+----------+-----+--------------------+--------+---------+--------+--------------------+
|2024-10-09|16:38|      Salary Payment|  3117.3|      Out| 11882.7|Salary Payment ex...|
|2024-10-09| 9:34|Paybill Payment -...| 2577.35|      Out| 9305.35|Paybill Payment -...|
|2024-10-09|10:20|    Customer Payment|12537.29|       In|21842.64|Customer Payment ...|
|2024-10-09| 8:46|      Loan Repayment|12538.96|      Out| 9303.68|Loan Repayment ex...|
|2024-10-09|18:58|    Customer Payment|11545.49|       In|20849.17|Customer Payment ...|
|2024-10-10|17:12|           Buy Goods| 5421.95|      Out|15427.22|  Buy Goods executed|
|2024-10-10|11:42|Utility Bill Payment| 4776.95|      Out|10650.27|Utility Bill Paym...|
|2024-10-10|17:34|Paybill Payment -...| 5373.64|      Out| 5276.63|Paybill Payment -...|
|2024-10-10|18:03|     Till Withdrawal| 2735.45|      Out| 2541.18|Till Withdrawal e...|
|2024-10-10|12:59|     Bank Withdrawal|  636.34|      Out| 1904.84|Bank Withdrawal e...|
|2024-10-11| 9:18|      Salary Payment|  937.05|      Out|  967.79|Salary Payment ex...|
|2024-10-11| 9:27|        Bank Deposit|21294.57|       In|22262.36|Bank Deposit exec...|
|2024-10-11|13:23|Paybill Payment -...| 1544.72|      Out|20717.64|Paybill Payment -...|
|2024-10-11|18:37|      Loan Repayment| 3081.35|      Out|17636.29|Loan Repayment ex...|
|2024-10-11| 8:20|        Bank Deposit|  5696.8|       In|23333.09|Bank Deposit exec...|
|2024-10-12|18:29|Paybill Payment -...| 5600.89|      Out| 17732.2|Paybill Payment -...|
|2024-10-12|18:45|        Bank Deposit| 1846.27|       In|19578.47|Bank Deposit exec...|
|2024-10-13| 8:26|        Float Top-Up|15672.12|       In|35250.59|Float Top-Up exec...|
|2024-10-13|10:58|Utility Bill Payment|18575.41|      Out|16675.18|Utility Bill Paym...|
|2024-10-14| 9:15|     Till Withdrawal|10918.33|      Out| 5756.85|Till Withdrawal e...|
|2024-10-14|11:12|     Till Withdrawal| 2878.77|      Out| 2878.08|Till Withdrawal e...|
|2024-10-14|16:58|Utility Bill Payment| 1275.63|      Out| 1602.45|Utility Bill Paym...|
|2024-10-15|18:37|           Buy Goods|  710.37|      Out|  892.08|  Buy Goods executed|
|2024-10-15|18:19|      Salary Payment|  879.51|      Out|   12.57|Salary Payment ex...|
|2024-10-15|14:55|    Customer Payment|23269.49|       In|23282.06|Customer Payment ...|
|2024-10-15|14:26|      Salary Payment| 8021.09|      Out|15260.97|Salary Payment ex...|
|2024-10-15|12:24|           Buy Goods| 5841.26|      Out| 9419.71|  Buy Goods executed|
|2024-10-16|13:30|     Till Withdrawal| 5369.62|      Out| 4050.09|Till Withdrawal e...|
|2024-10-16|11:50|        Float Top-Up| 5593.18|       In| 9643.27|Float Top-Up exec...|
|2024-10-16| 8:02|    Customer Payment|13014.67|       In|22657.94|Customer Payment ...|
+----------+-----+--------------------+--------+---------+--------+--------------------+
only showing top 30 rows

In [6]:
import pandas as pd

# Load to pandas for Prophet
df_pd = df.filter(df.direction == "In").select("date", "amount").groupBy("date").sum("amount").toPandas()
df_pd.columns = ["ds", "y"]  # Prophet expects columns as 'ds' and 'y'

df_pd['ds'] = pd.to_datetime(df_pd['ds'])
df_pd = df_pd.sort_values("ds")
df_pd.tail()

StatementMeta(, 3f70d7a4-b60b-4600-b977-5175bc0acb75, 8, Finished, Available, Finished)

            ds         y
78  2025-04-03  12714.08
15  2025-04-04   8722.63
3   2025-04-05  19228.03
23  2025-04-06  34332.75
123 2025-04-07  19056.02

In [7]:
from prophet import Prophet

model = Prophet()
model.fit(df_pd)

future = model.make_future_dataframe(periods=30)
forecast = model.predict(future)

forecast[["ds", "yhat", "yhat_lower", "yhat_upper"]].tail(10)

StatementMeta(, 3f70d7a4-b60b-4600-b977-5175bc0acb75, 9, Finished, Available, Finished)

06:45:00 - cmdstanpy - INFO - Chain [1] start processing
06:45:00 - cmdstanpy - INFO - Chain [1] done processing

            ds          yhat   yhat_lower    yhat_upper
146 2025-04-28  21804.573583  4546.372282  37743.445079
147 2025-04-29  20178.704990  3956.744828  36581.289951
148 2025-04-30  22293.398894  5423.343097  39385.551472
149 2025-05-01  23792.887635  7026.482450  41643.897273
150 2025-05-02  25820.478400  8358.249921  42077.170871
151 2025-05-03  23787.071443  8519.777970  40013.878240
152 2025-05-04  24789.724557  8513.082863  40914.975649
153 2025-05-05  21990.858580  5620.771511  38713.847301
154 2025-05-06  20364.989988  3520.373095  35197.872399
155 2025-05-07  22479.683891  5452.520845  38566.666482

In [1]:
df = spark.read.table("mpesa_cleaned")
df.write.option("header", True).csv("Files/mpesa_cleaned_export")

StatementMeta(, 95c9f50f-5760-40bb-991b-c91fb69025cb, 3, Finished, Available, Finished)

In [2]:
# Read CSV from exported folder in OneLake
df = spark.read.csv("Files/mpesa_cleaned_export", header=True, inferSchema=True)

# Convert to Pandas to view and export from notebook
df_pd = df.toPandas()

# Show preview
df_pd.head()

StatementMeta(, 95c9f50f-5760-40bb-991b-c91fb69025cb, 4, Finished, Available, Finished)

,date,time,transaction_type,amount,direction,balance,narration
0,2024-10-09,2025-04-07 16:38:00,Salary Payment,3117.30,Out,11882.70,Salary Payment executed
1,2024-10-09,2025-04-07 09:34:00,Paybill Payment - Supplier,2577.35,Out,9305.35,Paybill Payment - Supplier executed
2,2024-10-09,2025-04-07 10:20:00,Customer Payment,12537.29,In,21842.64,Customer Payment executed
3,2024-10-09,2025-04-07 08:46:00,Loan Repayment,12538.96,Out,9303.68,Loan Repayment executed
4,2024-10-09,2025-04-07 18:58:00,Customer Payment,11545.49,In,20849.17,Customer Payment executed

In [3]:
df_pd.to_csv("Files/mpesa_cleaned_download.csv", index=False)

StatementMeta(, 95c9f50f-5760-40bb-991b-c91fb69025cb, 5, Finished, Available, Finished)

OSError: Cannot save file into a non-existent directory: 'Files'